
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: blue 1px solid;
}

.cart-item-container {
  border: red 1px solid;
  display: flex;
}

.cart-item-image-container {
  width: 200px;
}


.cart-item-image-container img{
  width: 100%;
  height: 200px;
  object-fit:cover;

}

.cart-item-info-container {
  width: 500px;
}

.cart-item-count-decrease {
  font-size: 25px;

  margin: 10px 5px
}

.cart-item-count-increase {
  font-size: 25px;

  margin: 10px 5px
}

.cart-item-count-number {
  font-size: 25px;
  margin: 10px
}

.cart-item-container {
  margin: 20px;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2c2c2c;
}

.cart-h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #5d5d5d;
}
.empty-cart-img img {
  width: 450px;
  height: auto;
}


.empty-cart-btn {
  width: 200px;
  height: 35px;
  background-color: #cf8193;
  border-radius: 20px;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.empty-cart-btn-link {
  text-decoration: none;
  color: #ffffff;
}

.empty-cart-btn i {
  margin-right: 5px;
}
