.reviews-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-h1 {
  font-family: 'Rubik', sans-serif;
  margin-top: 20px;
  color:rgb(89, 89, 89)
}

.no-review {
  font-family: 'Rubik', sans-serif;
  color:rgb(89, 89, 89);
  margin: 20px;
}

.reviews-outter-container {

  width: 65vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-container {
  width: 65vw;
  background-color: #f6f6f6;
  margin: 5px;
  padding: 15px;
  font-family: 'Rubik', sans-serif;
}

.ratings-container i {
  color: rgb(255, 170, 0);
  margin-top: 8px;
  margin-bottom: 8px;
}


.reviews-summary-container {
  font-family: 'Rubik', sans-serif;
  color:rgb(89, 89, 89);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-summary-container i {
  color: rgb(255, 170, 0);
}

.reviews-summary {
  font-size: 25px;
  margin-bottom: 5px;
}

.reviews-summary-number {
  margin-top: 10px;
  margin-bottom: 15px;
}

.img-description-area {
  display: flex;
}

.review-img-container {
  margin-top: 7px;
  width: 8vw;
}

.rating-date {
  color:rgb(72, 71, 71);
  font-size: 14px;
}

.review-img-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.review-title {
  color:rgb(32, 32, 32);
  margin-right: 15px;
  margin-bottom: 7px;
  font-weight: 600;
  overflow-wrap: break-word;
}

.review-description {
  color:rgb(72, 71, 71);
  margin-right: 15px;
  overflow-wrap: break-word;
}

.review-button {
  width: 200px;
  height: 35px;
  background-color: #cf8193;
  border-radius: 20px;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
}

.new-review-modal,
.confirm-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 45vh; /* Adjust this to suit your needs */
}

.new-review-h1,
.delete-review-h1 {
  font-size: 30px;
  color: #2c2c2c;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}


.form-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  font-family: 'Rubik', sans-serif;
}


.form-input input,
.form-input textarea {
  width: 100%; /* Ensures all input fields have the same width */
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-family:'Rubik', sans-serif;
}

.new-review-btn-area,
.delete-review-btn-area {
  display: flex;
  justify-content: center;
}

.submit,
.cancel {
  width: 80px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  margin: 5px;
}

.submit {
  background-color: #cf8193;
}

.cancel {
  background-color: #626262;
}

.error-list {
  color: rgb(198, 0, 0);
  margin: 10px;
}

.star-rating-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.confirm-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 25vh; /* Adjust this to suit your needs */
}

.delete-review-p {
  font-family: 'Rubik', sans-serif;
  color:rgb(72, 71, 71);
  margin: 20px 35px;
}

.edit,
.delete {
  font-family: 'Rubik', sans-serif;
  border: none;
  cursor: pointer;
  background-color: white;
  margin-right: 10px;
  padding: 5px;
  width: 55px;
  border-radius: 5px;
}

.edit:hover,
.delete:hover {
  text-decoration: underline;
}