.reviews-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-h1 {
  font-family: 'Rubik', sans-serif;
  margin: 20px;
  color:rgb(89, 89, 89)
}

.no-review {
  font-family: 'Rubik', sans-serif;
  color:rgb(89, 89, 89);
  margin: 20px;
}

.reviews-outter-container {
  border: red 1px solid;
  width: 70vw;
  padding: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.review-container {
  width: 32vw;

}
