

.home-page-first-go-shopping-area {
  display: flex;
}

.go-shopping-img-container {
  /* width: 60%; */
  width: 60vw;
  height: 40vw;
  /* margin-top: 10px; */
}

.go-shopping-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter:saturate(100%);
  filter: saturate(60%);
  /* opacity: 0.85; */
  background-image: linear-gradient(to right, white)
}

.go-shopping-words-container {
  width: 40vw;
  /* height: inherit; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page-go-shopping-h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3.5vw;
  padding: 2vw;
  color: rgb(90, 90, 90)
}

.home-page-go-shopping-h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 2vw;
  padding: 3vw;
  line-height: 150%;
  color: rgb(90, 90, 90)
}

.go-shopping-btn{
  width: 15vw;
  height: 4vw;
  background-color: #cf8193;
  border-radius: 10vw;
  border: none;
  margin: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5vw;
  color: white;
  cursor: pointer;
}

.area {
  display: flex;
}

.second {

  background-color: aliceblue;
}


.area-words-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.area-h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.5vw;
  padding: 2vw;
  color: rgb(90, 90, 90)
}

.area-words {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1.7vw;
  padding: 3vw;
  line-height: 150%;
  color: rgb(90, 90, 90)
}

.area-image-container {
  width: 50vw;
  padding: 35px;

}

.area-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:60%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.info-container {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1.7vw;
  padding: 2vw 5vw 3vw 6vw;
  
  line-height: 150%;
  color: rgb(90, 90, 90)
}

.info-list {
  margin: 12px;
}