.page-container {
  position: relative;
  min-height: 100vh;
}

.footer-body{
  height: 7vw;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #ffe1bf;
  /* border: red 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-des-container {
  /* border: blue 1px solid; */
  font-size: 10px;
}

.footer-icon-container {

}

.footer-icon-container i{

}
