.profile-button-container {
  position: relative;
  display: flex;
  margin-left: 5px;
  cursor: pointer;
}

.profile-button-icon {
  padding-left: 10px;
}


.profile-dropdown {
  list-style: none;
  padding-left: 0;
  position: absolute;
  background-color: white;
  margin: 25px 0 0 -8px;
  /* margin: 0 0 0 -170px; */
  border-radius: 5px;
  border: #d3d3d3;
  width: 130px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* font-size: 1.25vw; */
  font-size: 16px;
}

.username-container {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  font-family: 'Rubik', sans-serif;
  color:rgb(98, 98, 98);
  font-weight: 600;
  font-size: 20px;
}

.username:hover {
  text-decoration: underline;
}

.li {
  font-family: 'Rubik', sans-serif;
  color:rgb(98, 98, 98);
  cursor:pointer
}

.li:hover {
  color: #cf8193;
  font-weight: 600;
}

.logout-button {
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  color:rgb(98, 98, 98)
}

.logout-button:hover {
  color: #cf8193;
  font-weight: 600;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}