
.shop-dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
}

.shop-dropdown-container,
.shop-dropdown-container:hover,
.shop-dropdown-items,
.shop-dropdown-items:hover {
  display: block;
}

.shop-dropdown-ul {

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}




.shop-dropdown-ul li {
  font-family: 'Rubik', sans-serif;
  color:rgb(98, 98, 98);
  cursor:pointer;
  margin: 20px;

}

.shop-dropdown-ul li:hover {
  color: #cf8193;
}

.shop-dropdown-ul a {
  text-decoration: none;
}
