.navbar-login {
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(106, 105, 105);
  margin-left: 15px;
}

.navbar-login:hover {
  color: #242424
}

.login-modal {
  width: 350px;
  height: 500px;
  border-radius: 10px;
}

.login-form-container {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: red 1px solid; */
  /* border-radius: 10px; */
}

.form-label {
  font-size: 17px;
  color: #5d5d5d;
  font-family: 'Rubik', sans-serif;
}

.form-input input{
  width: 200px;
  height: 20px;
  margin-bottom: 10px;
  margin-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
  /* border: red 1px solid; */
}

.login-h1 {
  font-size: 30px;
  color: #2c2c2c;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn-login {
  width: 213px;
  height: 28px;
  margin-top: 15px;
  margin-bottom: 5px;
  border: #cf8193 solid 2px;
  color: #ffffff;
  background-color: #cf8193;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
}

.btn-login:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.btn-demo {
  width: 213px;
  height: 28px;
  margin-top: 5px;
  border: #cf8193 solid 2px;
  color: #ffffff;
  background-color: #cf8193;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
}

.btn-demo:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.error-list {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  color: rgb(161, 0, 0)
}
